@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');
.sidebar{
   background-color: rgb(156, 156, 156);
    width: 16.65vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}
.sidebar nav{
    padding: 22px;
}
.sidebar nav li{
    list-style:none;
    font-size: 20px;
    padding-top: 46px ;
}

.sidebar nav li a{
    text-decoration: none;
    color:black;
}
*{
margin: 0;
padding: 0;
}
.main{
   /* background-color: yellow; */
    width:90vw;
    margin-left: 80px;
}
.container{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.infocontainer{
    /*background-color: rgb(21, 67, 137)*/
    height: 58vh;
    width: 80vw;    
    margin: auto;
    margin-top: 87px;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;  
   justify-content: center;
   flex-direction: column;
   font-family: 'Source Code Pro', monospace;
}
.devPic img{
 width: 330px;
 height: 58vh;
 object-fit: cover;
 object-position: 20% 1%;
}
.hello{
    font-size:53px;
}

.moreabout{
    margin-top: 23px;
    padding-bottom: 30px;
    font-size:23px;
    font-family: 'Fira Sans', sans-serif;
}
.name{
    font-size:43px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size:32px;
}
button{
    padding: 6px;
    border-radius: 17px;
    background-color: dodgerblue;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color: whitesmoke;
    color: dodgerblue;
}

.main{
    background-color: white;
}
body{
    margin: 0;
    padding: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.form-intro{
    margin-left: 54vh;
    margin-top: 31vh;
    background-color: rgb(133, 223, 220);
    padding: 20px;
    border-radius: 10px;
    
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 96vh;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  rgb(156, 156, 156);
    color: white;
  }

